body {
  margin: 0;
  background-image: url('./assets/bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head {
  width: 100px;
  margin-left: 6%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-link {
  display: block;
  height: 64px;
  margin: 0px;
  padding: 20px 0px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 1.4s;
  opacity: 1;
  text-align: left;
  left: 10px;
}

.cards-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #34495e; */
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 50px;
}

.card {
  width: 100%;
  margin: 50px;
  margin-bottom: 50px;
  position: relative;
  max-width: 300px;
  max-height: 450px;
}

.card-title {
  display: block;
  font-size: 20px;
  text-align: center;
  color: #fff;
  /* background-color: #51a3f5; */
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.card .img-inner {
  width: 100%;
  min-width: 250px;
}

.img-inner img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative;
  border-radius: 35px;
  box-shadow: 0 40px 60px -6px black;
}
/* 
.card img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative;
  border-radius: 35px;
  box-shadow: 0 40px 60px -6px black;
} */

.card-desc {
  color: #fff;
  width: 115%;
  display: block;
  font-size: 14px;
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  opacity: 0;
  /* padding: 18px 8%; */
  background-color: #2982db;
  transition: 0.8s ease;
  border-radius: 35px;
  text-align: center;
}

.card-desc h2 {
  font-size: 20px;
}

.card-link {
  text-align: center;
  position: absolute;
  bottom: 30%;
  left: 35%;
}

.card-link a {
  text-align: center;
  color: white;
  background-color: #6184a8;
  padding: 10px 20px;
}

.card:hover .card-desc {
  margin-top: 0;
  opacity: 0.9;
  max-height: 110%;
  height: -webkit-calc(110%);
  height: -moz-calc(110%);
  height: -o-calc(110%);
  height: calc(110%);
}

h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 40px 0 20px 0;
  text-align: center;
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  /* background: #34495e; */
}

/* .webflow-style-input:after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(
    to right,
    #b294ff,
    #57e6e6,
    #feffb8,
    #57e6e6,
    #b294ff,
    #57e6e6
  );
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
} */

.webflow-style-input input {
  flex-grow: 1;
  color: #bfd2ff;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}

.webflow-style-input input::-webkit-input-placeholder {
  color: #7881a1;
}

.webflow-style-input button {
  color: #bfd2ff;
  background-color: #0e81f3;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.webflow-style-input button:hover {
  color: #f6f7fa;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  cursor: pointer;
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  margin-right: 5px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > li > span:hover {
  background-color: #34495e;
  color: white;
}

.active {
  background-color: #6184a8 !important;
  color: white !important;
}

.active span {
  background-color: #6184a8 !important;
}

.comments {
  margin: 50px;
}

.comment {
  width: 30%;
  color: white;
  padding: 15px 30px;
  margin: 10px auto;
  background-color: #5a85af;
  text-align: left;
}

.close-span {
  cursor: pointer;
  right: 0;
  text-align: right;
  padding: 5px 10px;
}

.close-span:hover {
  background-color: rgb(125, 178, 247);
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.send-comment-button {
  background-color: #5a85af;
  border: none;
}

.empty {
  color: #fff;
  font-size: 40px;
  max-width: 300px;
}

@media (max-width: 768px) {
  .comments {
    margin: 5px;
  }

  .webflow-style-input {
    max-width: 100px;
    margin: 5px;
    padding: 0;
    flex-wrap: wrap;
  }

  .pagination {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    max-width: 300px;
  }

  .pagination li {
    margin: 10px;
  }

  .card .img-inner {
    width: 100%;
    min-width: 300px;
  }
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.charWrapper {
  width: 100%;
  max-width: 900px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 100px;
  color: #fff;
}

h2 {
  color: #fff;
}
.notFound img {
  max-width: 400px;
}

.h2-black {
  color: black;
}
